Repository OdairRosarioNexen/github-actions-testes, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, scripts

.github/labeler.yml:

workflows:
  - '.github/workflows/**/*'

scripts:
  - 'scripts/**/*'

feat:
  .github/workflows/labeler.yml
  scripts/teste.ts
Labels: workflows, scripts

feat:
  .github/workflows/labeler.yml
Labels: workflows

feat:
  .github/workflows/labeler.yml
Labels: workflows

feat: atualizando labeler workflow
  .github/workflows/labeler.yml
Labels: workflows

feat: alterando para teste
  scripts/teste.ts
Labels: scripts
